@font-face {
  font-family: 'Sk-Modernist';
  src: url("../fonts/Sk-Modernist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Sk-Modernist';
  src: url("../fonts/Sk-Modernist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit; }
  *:focus, *:active {
    outline: 0; }

html {
  font-size: 1vw;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  height: 100%;
  scroll-behavior: smooth; }

body {
  font-family: "Unbounded", sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  background-color: #070707; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s; }
  a:hover {
    cursor: pointer;
    text-decoration: none; }
  a:active, a:focus {
    outline: 0; }

p {
  margin-bottom: 0; }

img {
  display: block; }

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  color: inherit; }
  button:hover {
    cursor: pointer; }
  button:active, button:focus {
    outline: 0; }

label {
  cursor: pointer; }

input,
textarea {
  font-family: "Unbounded", sans-serif; }
  input::placeholder,
  textarea::placeholder {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    opacity: 1; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

b,
strong {
  font-weight: 700; }

svg {
  display: block; }
  svg path {
    transition: 0.3s; }

iframe {
  border: 0; }

.site-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100svh; }

header,
main,
footer {
  width: 100%; }

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

.container {
  width: 100%;
  max-width: calc(1220px + 2*24px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 24px; }
  @media screen and (max-width: 1023px) {
    .container {
      padding: 0 16px; } }
  @media screen and (max-width: 767px) {
    .container {
      padding: 0 16px; } }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 32px; }
  @media screen and (max-width: 1023px) {
    .header {
      padding-top: 24px; } }
  @media screen and (max-width: 767px) {
    .header {
      padding-top: 16px; } }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .header .container > .phone {
        display: none; } }
  @media screen and (max-width: 767px) {
    .header .menu {
      position: fixed;
      top: -100%;
      height: 100%;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.9);
      opacity: 0;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  @media screen and (max-width: 767px) {
    .header .menu ul {
      flex-direction: column; } }
  @media screen and (max-width: 767px) {
    .header .menu li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 24px; } }
  @media screen and (max-width: 1023px) {
    .header .menu a {
      font-size: 12px; } }
  @media screen and (max-width: 767px) {
    .header .menu a {
      font-size: 18px; } }
  .header .phone {
    font-size: 16px;
    letter-spacing: .32px;
    background: linear-gradient(90deg, #F4377B 0.17%, #BA30FB 131.52%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #F4377B;
    box-shadow: 0px 0px 8px 0px rgba(32, 185, 255, 0.48);
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 52px;
    position: relative;
    overflow: hidden; }
    @media screen and (max-width: 1023px) {
      .header .phone {
        font-size: 12px;
        padding: 0 16px;
        height: 48px;
        letter-spacing: 0; } }
    @media screen and (max-width: 767px) {
      .header .phone {
        height: 44px;
        font-size: 12px;
        letter-spacing: 0;
        padding: 0 12px; } }
    @media (hover: hover) {
      .header .phone:hover::before {
        left: 0; }
      .header .phone:hover span {
        background: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; } }
    .header .phone::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background: linear-gradient(90deg, #F4377B 0.17%, #BA30FB 131.52%);
      width: 100%;
      transition: left 0.3s;
      left: -100%; }
    .header .phone span {
      background: linear-gradient(90deg, #F4377B 0.17%, #BA30FB 131.52%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative; }

.burger-btn {
  display: none;
  width: 24px;
  height: 24px;
  z-index: 2;
  position: relative;
  order: 99;
  background-color: transparent;
  flex-shrink: 0;
  border: 0;
  transition: 0.3s;
  color: var(--black); }
  @media screen and (max-width: 767px) {
    .burger-btn {
      display: block; } }
  .burger-btn span {
    display: block;
    position: absolute;
    left: 0px;
    width: 18px;
    height: 2px;
    left: 3px;
    opacity: 1;
    transform: rotate(0);
    transition: 0.3s;
    background-color: currentColor;
    border-radius: 4px; }
    .burger-btn span:nth-child(1) {
      top: 6px; }
    .burger-btn span:nth-child(2), .burger-btn span:nth-child(3) {
      top: 11px; }
    .burger-btn span:nth-child(4) {
      top: 16px; }

.mobile-menu-open .header .menu {
  top: 0;
  opacity: 1; }

.mobile-menu-open .burger-btn span:nth-child(1), .mobile-menu-open .burger-btn span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%; }

.mobile-menu-open .burger-btn span:nth-child(2), .mobile-menu-open .burger-btn span:nth-child(3) {
  width: 20px;
  left: 2px;
  height: 2.5px; }

.mobile-menu-open .burger-btn span:nth-child(2) {
  transform: rotate(45deg); }

.mobile-menu-open .burger-btn span:nth-child(3) {
  transform: rotate(-45deg); }

.block-subtitle {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #FF1083;
  text-shadow: 0px 0px 23px rgba(255, 16, 131, 0.65);
  margin-bottom: 12px; }
  @media screen and (max-width: 1023px) {
    .block-subtitle {
      font-size: 16px; } }
  @media screen and (max-width: 767px) {
    .block-subtitle {
      margin-bottom: 4px;
      font-size: 14px; } }

.block-title {
  line-height: normal; }
  .block-title.page-title {
    font-size: 80px;
    letter-spacing: 3.2px; }
    @media screen and (max-width: calc(1220px + 2*24px)) {
      .block-title.page-title {
        font-size: 64px; } }
    @media screen and (max-width: 1023px) {
      .block-title.page-title {
        font-size: 56px; } }
    @media screen and (max-width: 767px) {
      .block-title.page-title {
        font-size: 48px; } }
  .block-title.section-title {
    font-size: 64px;
    letter-spacing: 2.56px; }
    @media screen and (max-width: calc(1220px + 2*24px)) {
      .block-title.section-title {
        font-size: 48px; } }
    @media screen and (max-width: 1023px) {
      .block-title.section-title {
        font-size: 40px; } }
    @media screen and (max-width: 767px) {
      .block-title.section-title {
        font-size: 36px; } }
  @media screen and (max-width: 767px) {
    .block-title br {
      display: none; } }

.btn {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  font-size: 18px;
  letter-spacing: 0.36px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  border: 1px solid #F4377B; }
  @media screen and (max-width: 767px) {
    .btn {
      height: 56px;
      min-width: 56px;
      font-size: 16px; } }
  .btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, #F4377B 0.17%, #BA30FB 131.52%);
    width: 100%;
    transition: left 0.3s; }
  @media (hover: hover) {
    .btn:hover .icon path {
      stroke: #fff !important; } }
  .btn:not(.btn-bordered) {
    box-shadow: 0px 0px 23px 0px rgba(255, 16, 131, 0.65);
    background-color: transparent;
    padding-left: 32px;
    padding-right: 32px; }
    @media screen and (max-width: 767px) {
      .btn:not(.btn-bordered) {
        padding-left: 24px;
        padding-right: 24px; } }
    @media (hover: hover) {
      .btn:not(.btn-bordered):hover::before {
        left: 100%; }
      .btn:not(.btn-bordered):hover span {
        background: linear-gradient(90deg, #F4377B 0.17%, #BA30FB 131.52%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; } }
    .btn:not(.btn-bordered)::before {
      left: 0; }
    .btn:not(.btn-bordered) span {
      background: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .btn.btn-bordered {
    padding-left: 24px;
    padding-right: 24px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 0px #E73698; }
    @media screen and (max-width: 767px) {
      .btn.btn-bordered {
        padding-left: 16px;
        padding-right: 16px; } }
    @media (hover: hover) {
      .btn.btn-bordered:hover::before {
        left: 0; }
      .btn.btn-bordered:hover span {
        background: #fff; }
      .btn.btn-bordered:hover .icon {
        color: #fff; } }
    .btn.btn-bordered::before {
      left: -100%; }
    .btn.btn-bordered .icon {
      color: #FF1083; }
  .btn span {
    position: relative; }
  .btn .icon {
    width: 24px;
    height: 24px;
    position: relative; }

.text-center {
  text-align: center; }

.logo {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  z-index: 2; }
  @media screen and (max-width: 1023px) {
    .logo {
      width: 120px; } }
  @media screen and (max-width: 767px) {
    .logo {
      width: auto; } }
  .logo-text {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px rgba(32, 185, 255, 0.48);
    color: #20B9FF;
    margin-left: 12px; }
    @media screen and (max-width: 1023px) {
      .logo-text {
        margin-left: 8px; } }
    @media screen and (max-width: 767px) {
      .logo-text {
        margin-left: 4px; } }
    @media screen and (max-width: 767px) {
      .logo-text {
        font-size: 16px;
        text-align: left; } }
    .logo-text span {
      color: #FF1083;
      margin-left: 4px;
      text-shadow: 0px 0px 8px rgba(255, 16, 131, 0.48); }
      @media screen and (max-width: 1023px) {
        .logo-text span {
          margin-left: 0; } }

.menu ul {
  display: flex;
  align-items: center;
  list-style: none; }

.menu li:not(:last-child) {
  margin-right: 40px; }
  @media screen and (max-width: 1023px) {
    .menu li:not(:last-child) {
      margin-right: 20px; } }

.menu a {
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s; }
  @media (hover: hover) {
    .menu a:hover {
      color: #FF1083; } }

.mobile-only {
  display: none; }
  @media screen and (max-width: 767px) {
    .mobile-only {
      display: initial; } }

.block-welcome {
  padding-top: 168px;
  padding-bottom: 112px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .block-welcome {
      padding-top: 160px;
      padding-bottom: 80px; } }
  .block-welcome .bg-figure {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .block-welcome .bg-figure img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .block-welcome .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .block-welcome .block-subtitle {
    margin-bottom: 0; }
  .block-welcome .block-title {
    margin-top: 40px;
    max-width: 850px; }
  .block-welcome .buttons {
    margin-top: 64px;
    display: flex; }
    @media screen and (max-width: 767px) {
      .block-welcome .buttons {
        margin-top: 40px; } }
  .block-welcome .btn:not(:last-child) {
    margin-right: 24px; }
    @media screen and (max-width: 767px) {
      .block-welcome .btn:not(:last-child) {
        margin-right: 16px; } }

.block-rooms {
  padding-top: 164px; }
  @media screen and (max-width: 1023px) {
    .block-rooms {
      padding-top: 120px; } }
  @media screen and (max-width: 767px) {
    .block-rooms {
      padding-top: 64px; } }
  .block-rooms .rooms {
    margin-top: 52px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); }
    @media screen and (max-width: 767px) {
      .block-rooms .rooms {
        margin-top: 40px;
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 16px; } }
  .block-rooms .room-item {
    position: relative; }
    .block-rooms .room-item-banner {
      position: relative; }
      .block-rooms .room-item-banner::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(7, 7, 7, 0) 0%, #070707 85.63%); }
      .block-rooms .room-item-banner img {
        width: 100%; }
    .block-rooms .room-item-info {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 40px 32px; }
      @media screen and (max-width: 1023px) {
        .block-rooms .room-item-info {
          padding: 32px; } }
      @media screen and (max-width: 767px) {
        .block-rooms .room-item-info {
          padding: 32px 24px; } }
    .block-rooms .room-item-price {
      text-shadow: 0px 0px 8px rgba(32, 185, 255, 0.48);
      font-size: 14px;
      letter-spacing: 0.84px;
      text-transform: uppercase;
      background: linear-gradient(90deg, #37B0F4 0.17%, #7DFB30 131.52%);
      line-height: normal;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .block-rooms .room-item-title {
      margin-top: 8px;
      font-size: 32px;
      letter-spacing: 1.28px;
      text-transform: uppercase; }
      @media screen and (max-width: 767px) {
        .block-rooms .room-item-title {
          font-size: 24px; } }
    .block-rooms .room-item-features {
      margin-top: 16px;
      display: flex;
      flex-wrap: wrap;
      font-size: 14px;
      font-weight: 400; }
      .block-rooms .room-item-features span {
        display: inline-flex;
        align-items: center; }
        .block-rooms .room-item-features span:not(:last-child) {
          margin-right: 12px; }
          .block-rooms .room-item-features span:not(:last-child)::after {
            content: '';
            flex-shrink: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-left: 12px;
            background-color: #20B9FF; }
    .block-rooms .room-item-link {
      margin-top: 24px;
      display: flex;
      align-items: center;
      cursor: pointer; }
      .block-rooms .room-item-link::after {
        content: '';
        margin-left: 6px;
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        flex-shrink: 0;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 17.5L13.75 10L6.25 2.5' stroke='url(%23paint0_linear_301_21)' stroke-width='2' stroke-linecap='square'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_301_21' x1='6.25' y1='7.08334' x2='16.1255' y2='7.07109' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F4377B'/%3E%3Cstop offset='1' stop-color='%23BA30FB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        transition: 0.3s; }
      @media (hover: hover) {
        .block-rooms .room-item-link:hover span::before {
          transform: scaleX(1); }
        .block-rooms .room-item-link:hover::after {
          transform: translateX(12px); } }
      .block-rooms .room-item-link span {
        position: relative;
        font-size: 18px;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        background: linear-gradient(90deg, #F4377B 0.17%, #BA30FB 131.52%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
        .block-rooms .room-item-link span::before {
          content: '';
          transform: scaleX(0);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 1px solid #FF1083;
          transition: 0.3s;
          transform-origin: left center; }

.block-services {
  padding-top: 120px; }
  @media screen and (max-width: 767px) {
    .block-services {
      padding-top: 64px; } }
  .block-services .services {
    margin-top: 70px;
    columns: 2;
    column-gap: 28px; }
    @media screen and (max-width: 767px) {
      .block-services .services {
        margin-top: 40px;
        columns: initial;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px; } }
  .block-services .service-item {
    padding: 60px;
    background-color: #131315;
    position: relative;
    break-inside: avoid; }
    @media screen and (max-width: calc(1220px + 2*24px)) {
      .block-services .service-item {
        padding: 48px; } }
    @media screen and (max-width: 1023px) {
      .block-services .service-item {
        padding: 40px; } }
    @media screen and (max-width: 767px) {
      .block-services .service-item {
        padding: 32px; } }
    .block-services .service-item:nth-child(2n+1) {
      margin-bottom: 28px; }
      @media screen and (max-width: 767px) {
        .block-services .service-item:nth-child(2n+1) {
          margin: 0; } }
    .block-services .service-item:nth-child(n+3) {
      top: -96px; }
      @media screen and (max-width: 767px) {
        .block-services .service-item:nth-child(n+3) {
          top: 0; } }
    .block-services .service-item-title {
      margin-top: 35px;
      font-size: 28px;
      text-transform: uppercase;
      line-height: 1.42857;
      letter-spacing: 1.12px; }
      @media screen and (max-width: 1023px) {
        .block-services .service-item-title {
          font-size: 24px; } }
      @media screen and (max-width: 767px) {
        .block-services .service-item-title {
          margin-top: 24px;
          font-size: 20px; } }
    .block-services .service-item-descr {
      margin-top: 12px;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      color: #CECECE; }
      @media screen and (max-width: 767px) {
        .block-services .service-item-descr {
          font-size: 16px; } }
      .block-services .service-item-descr span {
        color: #FF1083; }
      @media screen and (max-width: 767px) {
        .block-services .service-item-descr br {
          display: none; } }

.block-about {
  padding-top: 180px; }
  @media screen and (max-width: 1023px) {
    .block-about {
      padding-top: 120px; } }
  @media screen and (max-width: 767px) {
    .block-about {
      padding-top: 64px; } }
  .block-about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .block-about .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px; } }
  .block-about .block-head {
    width: calc(40% - 16px);
    max-width: 450px;
    margin-bottom: 85px; }
    @media screen and (max-width: calc(1220px + 2*24px)) {
      .block-about .block-head {
        margin-bottom: 64px; } }
    @media screen and (max-width: 1023px) {
      .block-about .block-head {
        width: calc(50% - 16px);
        max-width: 100%;
        margin-bottom: 48px; } }
    @media screen and (max-width: 767px) {
      .block-about .block-head {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0; } }
  .block-about *:is(.descr, .text) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #CECECE; }
    @media screen and (max-width: 1023px) {
      .block-about *:is(.descr, .text) {
        font-size: 16px; } }
    @media screen and (max-width: 767px) {
      .block-about *:is(.descr, .text) {
        font-size: 14px; } }
  .block-about .descr {
    margin-top: 24px; }
    @media screen and (max-width: 767px) {
      .block-about .descr {
        margin-top: 16px; } }
    @media screen and (max-width: 1023px) {
      .block-about .descr br {
        display: none; } }
  .block-about .banner {
    position: relative; }
    .block-about .banner:nth-child(2) {
      width: calc(60% - 16px);
      max-width: 700px; }
      @media screen and (max-width: 1023px) {
        .block-about .banner:nth-child(2) {
          width: calc(50% - 16px); } }
      @media screen and (max-width: 767px) {
        .block-about .banner:nth-child(2) {
          width: 100%; } }
      .block-about .banner:nth-child(2) img {
        width: 100%; }
    .block-about .banner:nth-child(3), .block-about .banner:nth-child(4) {
      width: calc((100% - 64px) / 3);
      max-width: 348px; }
      @media screen and (max-width: 1023px) {
        .block-about .banner:nth-child(3), .block-about .banner:nth-child(4) {
          width: calc((100% - 32px) / 3);
          max-width: 100%; } }
      @media screen and (max-width: 767px) {
        .block-about .banner:nth-child(3), .block-about .banner:nth-child(4) {
          width: 100%;
          max-width: 100%; } }
    @media screen and (max-width: 767px) {
      .block-about .banner:nth-child(3) {
        display: none; } }
    .block-about .banner::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(7, 7, 7, 0) 50.52%, #070707 95.93%); }
    .block-about .banner img {
      width: 100%; }
  .block-about .text {
    position: relative;
    top: -120px;
    padding: 75px 45px 64px;
    max-width: 455px;
    background-color: #131315;
    align-self: flex-start; }
    @media screen and (max-width: calc(1220px + 2*24px)) {
      .block-about .text {
        padding: 64px 40px;
        width: calc((100% - 64px) / 3);
        top: -100px; } }
    @media screen and (max-width: 1023px) {
      .block-about .text {
        padding: 32px 24px;
        width: calc((100% - 32px) / 3);
        top: -64px; } }
    @media screen and (max-width: 767px) {
      .block-about .text {
        top: 0;
        padding: 32px 24px;
        width: 100%; } }

.block-gallery {
  padding-top: 180px; }
  @media screen and (max-width: 1023px) {
    .block-gallery {
      padding-top: 120px; } }
  @media screen and (max-width: 767px) {
    .block-gallery {
      padding-top: 64px; } }
  .block-gallery .container {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-gap: 28px; }
    @media screen and (max-width: 1023px) {
      .block-gallery .container {
        grid-gap: 24px; } }
    @media screen and (max-width: 767px) {
      .block-gallery .container {
        grid-template-columns: 1fr;
        grid-gap: 16px; } }
  .block-gallery .block-head {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .block-gallery .block-head {
        grid-column: 1; } }
  .block-gallery .btn {
    margin-top: 40px; }
    @media screen and (max-width: 767px) {
      .block-gallery .btn {
        margin-top: 24px; } }
  .block-gallery .banner {
    position: relative;
    align-self: start; }
    .block-gallery .banner:nth-child(2) {
      grid-column: span 5; }
      @media screen and (max-width: 767px) {
        .block-gallery .banner:nth-child(2) {
          grid-column: 1; } }
    .block-gallery .banner:nth-child(3) {
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: span 4; }
      @media screen and (max-width: 767px) {
        .block-gallery .banner:nth-child(3) {
          grid-column: 1;
          grid-row: initial; } }
    .block-gallery .banner:nth-child(4) {
      grid-row-start: 2;
      grid-row-end: span 2;
      grid-column-start: 5;
      grid-column-end: span 6; }
      @media screen and (max-width: 767px) {
        .block-gallery .banner:nth-child(4) {
          display: none; } }
    .block-gallery .banner:nth-child(5) {
      grid-row: 3;
      grid-column-start: 1;
      grid-column-end: span 4; }
      @media screen and (max-width: 767px) {
        .block-gallery .banner:nth-child(5) {
          display: none; } }
    .block-gallery .banner::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(7, 7, 7, 0) 50.52%, #070707 95.93%); }
    .block-gallery .banner img {
      width: 100%; }

.block-faq {
  padding-top: 180px; }
  @media screen and (max-width: 1023px) {
    .block-faq {
      padding-top: 120px; } }
  @media screen and (max-width: 767px) {
    .block-faq {
      padding-top: 64px; } }
  .block-faq .faq {
    margin-top: 80px;
    columns: 2;
    column-gap: 28px; }
    @media screen and (max-width: 767px) {
      .block-faq .faq {
        margin-top: 40px;
        columns: initial;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px; } }
  .block-faq .faq-item {
    background-color: #131315;
    padding: 36px 32px;
    margin-bottom: 28px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    break-inside: avoid;
    transition: 0.3s; }
    @media screen and (max-width: 1023px) {
      .block-faq .faq-item {
        padding: 32px 24px; } }
    @media screen and (max-width: 767px) {
      .block-faq .faq-item {
        margin-bottom: 0;
        padding: 24px; } }
    @media (hover: hover) {
      .block-faq .faq-item:hover {
        background-color: #1C1C1C; } }
    .block-faq .faq-item.active .faq-item-head::after {
      transform: rotate(90deg); }
    .block-faq .faq-item.active .faq-item-body {
      grid-template-rows: 1fr; }
    .block-faq .faq-item-head {
      padding-right: 64px;
      position: relative;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: .88px;
      color: #fafafa; }
      @media screen and (max-width: 1023px) {
        .block-faq .faq-item-head {
          padding-right: 48px;
          font-size: 20px; } }
      @media screen and (max-width: 767px) {
        .block-faq .faq-item-head {
          padding-right: 16px;
          font-size: 18px; } }
      .block-faq .faq-item-head::after {
        content: '';
        position: absolute;
        top: calc(50% - 8px);
        width: 11px;
        height: 17px;
        right: 6px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.67963 16L9.29462 8.5L1.67963 1' stroke='%23FF1083' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: 100% 100%;
        transition: 0.3s;
        transform-origin: center; }
        @media screen and (max-width: 767px) {
          .block-faq .faq-item-head::after {
            right: -6px; } }
      @media screen and (max-width: 767px) {
        .block-faq .faq-item-head br {
          display: none; } }
    .block-faq .faq-item-body {
      display: grid;
      grid-template-rows: 0fr;
      transition: 0.3s;
      color: #CECECE;
      font-size: 18px;
      padding-right: 64px;
      overflow: hidden; }
      @media screen and (max-width: 1023px) {
        .block-faq .faq-item-body {
          padding-right: 48px; } }
      @media screen and (max-width: 767px) {
        .block-faq .faq-item-body {
          padding-right: 0;
          font-size: 16px; } }
    .block-faq .faq-item .body-outer {
      min-height: 0; }
    .block-faq .faq-item .body-inner {
      padding-top: 24px; }
      @media screen and (max-width: 767px) {
        .block-faq .faq-item .body-inner {
          padding-top: 16px; } }

.block-contacts {
  position: relative; }
  .block-contacts .map {
    height: 835px;
    position: relative; }
    @media screen and (max-width: 767px) {
      .block-contacts .map {
        padding-bottom: 100px; } }
    .block-contacts .map::before, .block-contacts .map::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 320px;
      z-index: 2; }
      @media screen and (max-width: 767px) {
        .block-contacts .map::before, .block-contacts .map::after {
          height: 180px; } }
    .block-contacts .map::before {
      top: 0;
      background: linear-gradient(0deg, rgba(7, 7, 7, 0) 8.28%, rgba(7, 7, 7, 0.97) 53.43%, #070707 87.91%); }
    .block-contacts .map::after {
      bottom: -1px;
      background: linear-gradient(180deg, rgba(7, 7, 7, 0) 8.28%, rgba(7, 7, 7, 0.97) 53.43%, #070707 87.91%); }
      @media screen and (max-width: 767px) {
        .block-contacts .map::after {
          bottom: 100px; } }
  .block-contacts iframe {
    height: 100%;
    filter: grayscale(1) brightness(0.4);
    pointer-events: none; }
  .block-contacts .container {
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 0;
    right: 0; }
  .block-contacts .contacts {
    max-width: 1070px;
    margin: 0 auto;
    background-color: #131315;
    padding: 80px; }
    @media screen and (max-width: calc(1220px + 2*24px)) {
      .block-contacts .contacts {
        padding: 72px; } }
    @media screen and (max-width: 1023px) {
      .block-contacts .contacts {
        padding: 64px 32px; } }
    @media screen and (max-width: 767px) {
      .block-contacts .contacts {
        padding: 40px; } }
    .block-contacts .contacts-title {
      font-size: 28px;
      line-height: 1.42857;
      letter-spacing: 1.12px;
      text-transform: uppercase; }
      @media screen and (max-width: 1023px) {
        .block-contacts .contacts-title {
          font-size: 24px; } }
      @media screen and (max-width: 767px) {
        .block-contacts .contacts-title {
          font-size: 22px; } }
    .block-contacts .contacts-list {
      margin-top: 64px;
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 54px; }
      @media screen and (max-width: calc(1220px + 2*24px)) {
        .block-contacts .contacts-list {
          grid-gap: 48px; } }
      @media screen and (max-width: 1023px) {
        .block-contacts .contacts-list {
          grid-gap: 40px; } }
      @media screen and (max-width: 767px) {
        .block-contacts .contacts-list {
          margin-top: 40px;
          grid-gap: 24px;
          grid-template-columns: 1fr; } }
  .block-contacts *:is(.address, .work-time, .phone) {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    transition: 0.3s; }
    @media screen and (max-width: calc(1220px + 2*24px)) {
      .block-contacts *:is(.address, .work-time, .phone) {
        font-size: 18px; } }
    @media screen and (max-width: 1023px) {
      .block-contacts *:is(.address, .work-time, .phone) {
        font-size: 16px; } }
    @media screen and (max-width: 767px) {
      .block-contacts *:is(.address, .work-time, .phone) {
        font-size: 14px; } }
    .block-contacts *:is(.address, .work-time, .phone) svg {
      flex-shrink: 0;
      margin-right: 16px; }
  .block-contacts .address {
    font-style: normal; }
  @media (hover: hover) {
    .block-contacts .phone:hover {
      color: #FF1083; } }

.footer {
  margin-top: 180px;
  padding-bottom: 72px;
  border-top: 1px solid #4C4C56; }
  @media screen and (max-width: 1023px) {
    .footer {
      margin-top: 120px; } }
  @media screen and (max-width: 767px) {
    .footer {
      margin-top: 64px;
      padding-bottom: 64px; } }
  .footer-top {
    padding-top: 72px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 1023px) {
      .footer-top {
        padding-top: 48px;
        padding-bottom: 48px; } }
    @media screen and (max-width: 767px) {
      .footer-top {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 24px;
        place-items: center;
        padding-top: 24px;
        padding-bottom: 24px; } }
  @media screen and (max-width: 1023px) {
    .footer .menu {
      display: none; } }
  .footer-bottom {
    border-top: 1px solid #4C4C56;
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 312px;
    column-gap: 140px; }
    @media screen and (max-width: calc(1220px + 2*24px)) {
      .footer-bottom {
        column-gap: 64px; } }
    @media screen and (max-width: 1023px) {
      .footer-bottom {
        column-gap: 48px; } }
    @media screen and (max-width: 767px) {
      .footer-bottom {
        grid-template-columns: 1fr;
        padding-top: 32px; } }
  .footer-group:nth-child(1) {
    grid-column: 1; }
  .footer-group:nth-child(2) {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: span 2; }
    @media screen and (max-width: 767px) {
      .footer-group:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
        padding-top: 32px; } }
  .footer-group:nth-child(3) {
    margin-top: 60px;
    grid-column: 1; }
    @media screen and (max-width: 767px) {
      .footer-group:nth-child(3) {
        margin-top: 48px;
        grid-row: 3; } }
    .footer-group:nth-child(3) .footer-group-content {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .footer-group-title {
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    min-height: 44px; }
    @media screen and (max-width: 767px) {
      .footer-group-title {
        font-size: 18px;
        min-height: initial; } }
  .footer-group-content:not(:first-child) {
    margin-top: 32px; }
    @media screen and (max-width: 767px) {
      .footer-group-content:not(:first-child) {
        margin-top: 24px; } }
  .footer .rooms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 64px; }
    @media screen and (max-width: 767px) {
      .footer .rooms {
        row-gap: 16px;
        column-gap: 16px; } }
  .footer .room-item {
    position: relative;
    padding-bottom: 18px;
    border-bottom: 1px solid #4C4C56;
    padding-right: 20px;
    cursor: pointer; }
    @media (hover: hover) {
      .footer .room-item:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 18L13.75 10.5L6.25 3' stroke='url(%23paint0_linear_138_220)' stroke-width='2' stroke-linecap='square'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_138_220' x1='6.25' y1='7.58334' x2='16.1255' y2='7.57109' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337B0F4'/%3E%3Cstop offset='1' stop-color='%237DFB30'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E"); }
      .footer .room-item:hover .room-item-title {
        color: #FF1083; } }
    .footer .room-item::after {
      content: '';
      position: absolute;
      top: 18px;
      right: 0;
      width: 20px;
      height: 21px;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 18.0117L13.75 10.5117L6.25 3.01172' stroke='url(%23paint0_linear_128_17)' stroke-width='2' stroke-linecap='square'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_128_17' x1='6.25' y1='7.59506' x2='16.1255' y2='7.58281' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F4377B'/%3E%3Cstop offset='1' stop-color='%23BA30FB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }
    .footer .room-item-title {
      font-size: 22px;
      line-height: 1.27273;
      transition: 0.3s; }
      @media screen and (max-width: 767px) {
        .footer .room-item-title {
          font-size: 20px; } }
    .footer .room-item-price {
      margin-top: 12px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: .72px;
      background: linear-gradient(90deg, #37B0F4 0.17%, #7DFB30 131.52%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      @media screen and (max-width: 767px) {
        .footer .room-item-price {
          font-size: 8px; } }
  .footer .copyright {
    font-size: 18px;
    line-height: 1.6667;
    font-weight: 400;
    color: #9f9f9f; }
    @media screen and (max-width: 767px) {
      .footer .copyright {
        font-size: 14px; } }
  .footer .socials {
    display: flex; }
    .footer .socials a {
      color: #9f9f9f;
      transform: 0.3s; }
      @media (hover: hover) {
        .footer .socials a:hover {
          color: #FF1083; } }
      .footer .socials a:not(:last-child) {
        margin-right: 20px; }
    .footer .socials svg {
      width: 28px;
      height: 28px; }
  .footer .widget {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px; }
    @media screen and (max-width: 767px) {
      .footer .widget {
        grid-gap: 8px; } }
    .footer .widget-item {
      padding-bottom: 100%;
      position: relative; }
      @media (hover: hover) {
        .footer .widget-item:hover .widget-item-overlay {
          opacity: 1; } }
      .footer .widget-item::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(7, 7, 7, 0) 50.52%, #070707 95.93%);
        z-index: 2; }
      .footer .widget-item-overlay {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .footer .widget-item-overlay span {
          margin-top: 12px;
          font-size: 12px;
          line-height: normal;
          letter-spacing: 0.72px;
          text-transform: uppercase;
          background: linear-gradient(90deg, #37B0F4 0.17%, #7DFB30 131.52%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
      .footer .widget-item img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; }

.modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; }
  .modal.active {
    opacity: 1;
    pointer-events: auto; }
  .modal-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  .modal-body {
    position: relative;
    display: flex;
    z-index: 2;
    max-width: 908px;
    width: 100%; }
    @media screen and (max-width: 767px) {
      .modal-body {
        max-width: 480px; } }
  .modal-close {
    position: absolute;
    color: #fff;
    padding: 6px;
    top: 16px;
    right: 16px;
    z-index: 2; }
    .modal-close svg {
      width: 20px;
      height: 20px; }
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 80px 72px;
    background-color: #131315; }
    @media screen and (max-width: calc(1220px + 2*24px)) {
      .modal-content {
        padding: 72px; } }
    @media screen and (max-width: 1023px) {
      .modal-content {
        padding: 64px; } }
    @media screen and (max-width: 767px) {
      .modal-content {
        padding: 56px 16px 16px; } }
  .modal-title {
    font-size: 44px;
    line-height: 1.18182;
    text-transform: uppercase;
    letter-spacing: 1.76px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: calc(1220px + 2*24px)) {
      .modal-title {
        font-size: 36px; } }
    @media screen and (max-width: 1023px) {
      .modal-title {
        font-size: 28px; } }
    @media screen and (max-width: 767px) {
      .modal-title {
        font-size: 24px; } }
    .modal-title svg {
      margin-right: 16px;
      flex-shrink: 0; }
      @media screen and (max-width: 767px) {
        .modal-title svg {
          width: 40px;
          height: 40px;
          margin-right: 12px; } }
  .modal-form {
    margin-top: 64px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .modal-form {
        margin-top: 40px; } }
  .modal .input-wrapper {
    width: calc(50% - 12px);
    position: relative;
    margin-bottom: 24px; }
    @media screen and (max-width: 767px) {
      .modal .input-wrapper {
        width: 100%;
        margin-bottom: 16px; } }
    .modal .input-wrapper.select-wrapper::after {
      content: '';
      pointer-events: none;
      position: absolute;
      width: 20px;
      height: 20px;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.1665 7.08325L9.99984 12.9166L15.8332 7.08325' stroke='%239F9F9F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      top: calc(50% - 10px);
      right: 21px; }
      @media screen and (max-width: 767px) {
        .modal .input-wrapper.select-wrapper::after {
          right: 12px; } }
  .modal *:is(input, select) {
    color: #fff;
    height: 72px;
    padding: 0 24px;
    border: 1px solid #4C4C56;
    font-size: 18px;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    transition: 0.3s;
    background-color: transparent;
    display: block;
    width: 100%; }
    @media screen and (max-width: 767px) {
      .modal *:is(input, select) {
        font-size: 16px;
        padding: 0 16px;
        height: 56px; } }
    .modal *:is(input, select):hover, .modal *:is(input, select):focus, .modal *:is(input, select):active {
      border-color: #FF1083; }
  .modal select {
    appearance: none;
    cursor: pointer; }
  .modal option:not([disabled]) {
    color: black; }
  .modal .btn {
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 767px) {
      .modal .btn {
        width: 100%; } }
  .modal .success-text {
    margin: 40px auto 0;
    font-size: 18px;
    line-height: 1.5;
    color: #CECECE;
    font-weight: 400;
    max-width: 424px;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .modal .success-text {
        margin-top: 40px;
        font-size: 16px; } }
  .modal .success-btn {
    margin: 48px auto 0; }
    @media screen and (max-width: 767px) {
      .modal .success-btn {
        margin-top: 40px; } }
