.block-welcome {
    padding-top: 228px;
    padding-bottom: 112px;
    position: relative;
    @include mobile {
        padding-top: 160px;
        padding-bottom: 80px;
    }
    .bg-figure {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-subtitle {
        margin-bottom: 0;
    }
    .block-title {
        margin-top: 40px;
        max-width: 850px;
    }
    .buttons {
        margin-top: 64px;
        display: flex;
        @include mobile {
            margin-top: 40px;
        }
    }

    .btn {
        &:not(:last-child) {
            margin-right: 24px;
            @include mobile {
                margin-right: 16px;
            }
        }
    }
}

.block-rooms {
    padding-top: 164px;
    @include tablet {
        padding-top: $section-padding-y-tablet;
    }
    @include mobile {
        padding-top: $section-padding-y-mobile;
    }

    .rooms {
        margin-top: 52px;
        width: 100%;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        @include mobile {
            margin-top: 40px;
            grid-template-columns: minmax(0, 1fr);
            grid-gap: $container-padding-x-mobile;
        }
    }
    .room-item {
        position: relative;
        &-banner {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 0%, #070707 85.63%);
            }
            img {
                width: 100%;
            }
        }
        &-info {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            padding: 40px 32px;
            @include tablet {
                padding: 32px;
            }
            @include mobile {
                padding: 32px 24px;
            }
        }
        &-price {
            text-shadow: 0px 0px 8px rgba(32, 185, 255, 0.48);
            font-size: 14px;
            letter-spacing: 0.84px;
            text-transform: uppercase;
            background: $blue-green-text-gradient;
            line-height: normal;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &-title {
            margin-top: 8px;
            font-size: 32px;
            letter-spacing: 1.28px;
            text-transform: uppercase;
            @include mobile {
                font-size: 24px;
            }
        }
        &-features {
            margin-top: 16px;
            display: flex;
            flex-wrap: wrap;
            font-size: 14px;
            font-weight: 400;
            span {
                display: inline-flex;
                align-items: center;
                &:not(:last-child) {
                    margin-right: 12px;
                    &::after {
                        content: '';
                        flex-shrink: 0;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        margin-left: 12px;
                        background-color: $blue;
                    }
                }

            }
        }
        &-link {
            margin-top: 24px;
            display: flex;
            align-items: center;
            font-size: 18px;
            letter-spacing: 1.08px;
            text-transform: uppercase;
            background: $rose-violet-btn-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            cursor: pointer;
            &::after {
                content: '';
                margin-left: 6px;
                width: 20px;
                height: 20px;
                background-size: 100% 100%;
                flex-shrink: 0;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 17.5L13.75 10L6.25 2.5' stroke='url(%23paint0_linear_301_21)' stroke-width='2' stroke-linecap='square'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_301_21' x1='6.25' y1='7.08334' x2='16.1255' y2='7.07109' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F4377B'/%3E%3Cstop offset='1' stop-color='%23BA30FB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                transition: $duration;
            }
            @media (hover: hover) {
                &:hover {
                    &::after {
                        transform: translateX(12px);
                    }
                }
            }
        }
    }
}

.block-services {
    padding-top: 120px;

    // @include tablet {
    //     padding-top: $section-padding-y-tablet;
    // }
    @include mobile {
        padding-top: $section-padding-y-mobile;
    }

    .services {
        margin-top: 70px;
        columns: 2;
        column-gap: 28px;
        @include mobile {
            margin-top: 40px;
            columns: initial;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 24px;
        }
    }
    .service-item {
        padding: 60px;
        background-color: $card-bg;
        position: relative;
        break-inside: avoid;
        @include responsive {
            // padding: 56px;
            padding: 48px;
        }
        @include tablet {
            // padding: 48px;
            padding: 40px;
        }
        @include mobile {
            // padding: 40px;
            padding: 32px;
        }
        &:nth-child(2n+1) {
            margin-bottom: 28px;
            @include mobile {
                margin: 0;
            }
        }
        &:nth-child(n+3) {
            top: -96px;
            @include mobile {
                top: 0;
            }
        }
        &-title {
            margin-top: 35px;
            font-size: 28px;
            text-transform: uppercase;
            line-height: 1.42857;
            letter-spacing: 1.12px;
            @include tablet {
                font-size: 24px;
            }
            @include mobile {
                margin-top: 24px;
                font-size: 20px;
            }
        }
        &-descr {
            margin-top: 12px;
            font-size: 18px;
            line-height: 1.5;
            font-weight: 400;
            color: $light-grey;
            @include mobile {
                font-size: 16px;
            }

            span {
                color: $rose;
            }
            br {
                @include mobile {
                    display: none;
                }
            }
        }
    }
}

.block-about {
    @include tablet {
        padding-top: $section-padding-y-tablet;
    }
    @include mobile {
        padding-top: $section-padding-y-mobile;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include mobile {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 24px;
        }
    }
    .block-head {
        width: calc(40% - 16px);
        max-width: 450px;
        margin-bottom: 85px;
        @include responsive {
            margin-bottom: 64px;
        }
        @include tablet {
            width: calc(50% - 16px);
            max-width: 100%;
            margin-bottom: 48px;
        }
        @include mobile {
            width: 100%;
            max-width: 100%;
            margin-bottom: 0;
        }
    }

    *:is(.descr, .text) {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        color: $light-grey;
        @include tablet {
            font-size: 16px;
        }
        @include mobile {
            // font-size: 16px;
            font-size: 14px;
        }
    }

    .descr {
        margin-top: 24px;
        @include mobile {
            margin-top: 16px;
        }
        br {
            @include tablet {
                display: none;
            }
        }
    }

    .banner {
        position: relative;
        &:nth-child(2) {
            width: calc(60% - 16px);
            max-width: 700px;
            @include tablet {
                width: calc(50% - 16px);
            }
            @include mobile {
                width: 100%;
            }
            img {
                width: 100%;
            }
        }
        &:nth-child(3),
        &:nth-child(4) {
            width: calc((100% - 64px) / 3);
            max-width: 348px;
            @include tablet {
                width: calc((100% - 32px) / 3);
                max-width: 100%;
            }
            @include mobile {
                width: 100%;
                max-width: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 50.52%, #070707 95.93%);
        }

        img {
            width: 100%;
        }
    }


    .text {
        position: relative;
        top: -120px;
        padding: 75px 45px 64px;
        max-width: 455px;
        background-color: $card-bg;
        align-self: flex-start;
        @include responsive {
            padding: 64px 40px;
            width: calc((100% - 64px) / 3);
            top: -100px;
        }
        @include tablet {
            // padding: 40px 32px;
            padding: 32px 24px;
            width: calc((100% - 32px) / 3);
            top: -64px;
        }
        @include mobile {
            top: 0;
            padding: 32px 24px;
            width: 100%;
        }
    }
}

.block-gallery {
    padding-top: 180px;

    @include tablet {
        padding-top: $section-padding-y-tablet;
    }
    @include mobile {
        padding-top: $section-padding-y-mobile;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(10, minmax(0, 1fr));
        grid-gap: 28px;
        @include tablet {
            grid-gap: 24px;
        }
        @include mobile {
            grid-template-columns: 1fr;
            // grid-gap: 24px;
            grid-gap: $container-padding-x-mobile;
        }
    }

    .block-head {
        grid-column: span 5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @include mobile {
            grid-column: 1;
        }
    }

    .btn {
        margin-top: 40px;
        @include mobile {
            margin-top: 24px;
        }
    }

    .banner {
        position: relative;
        align-self: start;

        &:nth-child(2) {
            grid-column: span 5;
            @include mobile {
                grid-column: 1;
            }
        }
        &:nth-child(3) {
            grid-row: 2;
            grid-column-start: 1;
            grid-column-end: span 4;
            @include mobile {
                grid-column: 1;
                grid-row: initial;
            }
        }
        &:nth-child(4) {
            grid-row-start: 2;
            grid-row-end: span 2;
            grid-column-start: 5;
            grid-column-end: span 6;
            @include mobile {
                grid-column: 1;
                grid-row: initial;
            }
        }
        &:nth-child(5) {
            grid-row: 3;
            grid-column-start: 1;
            grid-column-end: span 4;
            @include mobile {
                grid-column: 1;
                grid-row: initial;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 50.52%, #070707 95.93%);
        }

        img {
            width: 100%;
        }
    }
}

.block-faq {
    padding-top: $section-padding-y-desktop;

    @include tablet {
        padding-top: $section-padding-y-tablet;
    }
    @include mobile {
        padding-top: $section-padding-y-mobile;
    }

    .faq {
        margin-top: 80px;
        columns: 2;
        column-gap: 28px;
        @include mobile {
            margin-top: 40px;
            columns: initial;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 24px;
        }
    }

    .faq-item {
        background-color: $card-bg;
        padding: 36px 32px;
        margin-bottom: 28px;
        font-weight: 400;
        line-height: 1.5;
        cursor: pointer;
        break-inside: avoid;
        @include tablet {
            padding: 32px 24px;
        }
        @include mobile {
            margin-bottom: 0;
            padding: 24px;
        }
        &.active {
            .faq-item-head {
                &::after {
                    transform: rotate(90deg);
                }
            }
            .faq-item-body {
                grid-template-rows: 1fr;
            }
        }
        &-head {
            padding-right: 64px;
            position: relative;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: .88px;
            color: #fafafa;
            @include tablet {
                padding-right: 48px;
                font-size: 20px;
            }
            @include mobile {
                padding-right: 16px;
                font-size: 18px;
            }
            &::after {
                content: '';
                position: absolute;
                top: calc(50% - 8px);
                width: 11px;
                height: 17px;
                right: 6px;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.67963 16L9.29462 8.5L1.67963 1' stroke='%23FF1083' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-size: 100% 100%;
                transition: $duration;
                transform-origin: center;
                @include mobile {
                    right: -6px;
                }
            }

            br {
                @include mobile {
                    display: none;
                }
            }
        }
        &-body {
            display: grid;
            grid-template-rows: 0fr;
            transition: $duration;
            color: $light-grey;
            font-size: 18px;
            padding-right: 64px;
            overflow: hidden;
            @include tablet {
                padding-right: 48px;
            }
            @include mobile {
                padding-right: 0;
                font-size: 16px;
            }
        }
        .body-outer {
            min-height: 0;
        }
        .body-inner {
            padding-top: 24px;
            @include mobile {
                padding-top: 16px;
            }
        }
    }
}

.block-contacts {
    position: relative;
    .map {
        height: 835px;
        position: relative;
        @include mobile {
            padding-bottom: 100px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            height: 320px;
            z-index: 2;
            @include mobile {
                height: 180px;
            }
        }
        &::before {
            top: 0;
            background: linear-gradient(0deg, rgba(7, 7, 7, 0.00) 8.28%, rgba(7, 7, 7, 0.97) 53.43%, #070707 87.91%);
        }
        &::after {
            bottom: 0;
            background: linear-gradient(180deg, rgba(7, 7, 7, 0.00) 8.28%, rgba(7, 7, 7, 0.97) 53.43%, #070707 87.91%);
            @include mobile {
                bottom: 100px;
            }
        }
    }
    iframe {
        height: 100%;
        filter: grayscale(1) brightness(.4);
        pointer-events: none;
    }

    .container {
        position: absolute;
        bottom: 0;
        z-index: 3;
        left: 0;
        right: 0;
    }
    .contacts {
        max-width: 1070px;
        margin: 0 auto;
        background-color: $card-bg;
        padding: 80px;
        @include responsive {
            padding: 72px;
        }
        @include tablet {
            // padding: 64px;
            padding: 64px 32px;
        }
        @include mobile {
            padding: 40px;
        }
        &-title {
            font-size: 28px;
            line-height: 1.42857;
            letter-spacing: 1.12px;
            text-transform: uppercase;
            @include tablet {
                font-size: 24px;
            }
            @include mobile {
                font-size: 22px;
            }
        }
        &-list {
            margin-top: 64px;
            // display: flex;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 54px;
            @include responsive {
                grid-gap: 48px;
            }
            @include tablet {
                grid-gap: 40px;
            }
            @include mobile {
                margin-top: 40px;
                grid-gap: 24px;
                grid-template-columns: 1fr;
            }
        }
    }

    *:is(.address, .work-time, .phone) {
        display: flex;
        align-items: flex-start;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 400;
        @include responsive {
            font-size: 18px;
        }
        @include tablet {
            font-size: 16px;
        }
        @include mobile {
            // font-size: 18px;
            font-size: 14px;
        }
        svg {
            flex-shrink: 0;
            margin-right: 16px;
        }
    }

    .address {
        font-style: normal;
    }
}