.modal {
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    &.active {
        opacity: 1;
        pointer-events: auto;
    }
    &-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(#000, .3);
        backdrop-filter: blur(2px);
    }
    &-body {
        position: relative;
        display: flex;
        z-index: 2;
        // width: css-min(calc(100% - 48px), 480px);
        // height: css-min(calc(100% - 128px), 560px);
        // margin: auto 24px 24px auto;
    }
    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }


}

