$main-font: 'Unbounded', sans-serif;
$logo-font: 'Montserrat', sans-serif;

$duration: 0.3s;

$black: #070707;
$light-grey: #CECECE;
$card-bg: #131315;

$rose: #FF1083;
$blue: #20B9FF;

$blue-green-text-gradient: linear-gradient(90deg, #37B0F4 0.17%, #7DFB30 131.52%);
$rose-violet-btn-gradient: linear-gradient(90deg, #F4377B 0.17%, #BA30FB 131.52%);

$text-color: #fff;

$body-bg: $black;

$container-inner-width: 1220px;
$container-padding-x: 24px;
$container-padding-x-tablet: 16px;
$container-padding-x-mobile: 16px;

$container-max-width: calc(#{$container-inner-width} + 2*#{$container-padding-x});
$tablet-max-width: 1023px;
$mobile-max-width: 767px;

$section-padding-y-desktop: 116px;
$section-padding-y-tablet: 80px;
$section-padding-y-mobile: 64px;